@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Red Hat Text", serif;
  color: hsl(14, 65%, 9%);
  background-color: hsl(13, 31%, 94%);
  display: flex;
  justify-content: center;
}

/*DESSERT SECTION*/
h1 {
  margin-left: 5rem;
}

.app {
  display: flex;
  flex-wrap: nowrap;
  max-width: 90rem;
  margin-top: 2rem;
  background-color: hsl(13, 31%, 94%);
  justify-content: center;
}

@media (max-width: 90rem) {
  .app {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
  }
}

.dessert-section {
  flex: 2;
}

.dessert-container {
  position: relative;
  padding-left: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

@media (max-width: 50rem) {
  .dessert-container {
    display: grid;
    padding-left: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 40rem) {
  .dessert-container {
    display: grid;
    padding-left: 4rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

.dessert {
  position: relative;
  padding: 1rem;
  display: flexbox;
  flex-direction: column;
}

.dessert-image {
  width: 15rem;
  border-radius: 1rem;
}

.addToCart-icon {
  width: 1.3rem;
}
.dessert-info {
  padding: 1rem;
}
.dessert-category {
  font-size: 0.9rem;
  color: hsl(14, 17%, 44%);
  font-weight: 400;
}
.dessert-title {
  font-size: 1.2rem;
  color: hsl(14, 65%, 9%);
  font-weight: 700;
}
.dessert-price {
  font-size: 1rem;
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}

/* BUTTONS */
button {
  align-items: center;
  font-size: 1rem;
  color: hsl(14, 65%, 9%);
  height: 2rem;
  width: 10rem;
}
.add-to-cart-button {
  position: absolute;
  bottom: 9rem;
  left: 3.5rem;
  font-weight: 600;
  background-color: hsl(20, 50%, 98%);
  border-radius: 4rem;
  border: 0.1rem solid hsl(7, 20%, 60%);
}
.quantity-controls {
  position: absolute;
  bottom: 9rem;
  left: 3.5rem;
  width: 10rem;
  height: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  background-color: hsl(14, 86%, 42%);
  border-radius: 2rem;
}

.decrease-quantity-button,
.increase-quantity-button,
.close-button {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  background-color: hsl(14, 86%, 42%);
  font-weight: 600;
  color: white;
  border-radius: 2rem;
  border: 0.1rem solid white;
}
.close-button {
  margin-left: 28rem;
}

/*CART SECTION*/

.cart-container {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  min-width: 30rem;
  height: 40rem;
  min-height: 30rem;
  max-height: 150rem;
  margin-right: 2rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  align-items: center;
  overflow: auto;
}
.cart-header {
  color: hsl(14, 86%, 42%);
  font-weight: 700;
}
.cart-items {
  display: flex;
  min-height: 20rem;
}

.confirm-order-button,
.start-new-order-button {
  background-color: hsl(14, 86%, 42%);
  color: hsl(13, 31%, 94%);
  border-radius: 4rem;
  border: none;
  font-weight: 400;
  min-width: 20rem;
  height: 4rem;
  margin-top: 1.5rem;
}

.selected-item {
  border-bottom: 0.1rem solid #ccc;
  padding: 1rem 0;
  list-style: none;
  flex-wrap: wrap;
}
.selected-item-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.selected-item-price {
  font-size: 1.2rem;
  color: hsl(7, 20%, 60%);
  margin-left: 7rem;
}

.selected-item-quantity {
  font-size: 1.2rem;
  color: hsl(14, 86%, 42%);
}

.total {
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.order-total {
  font-size: 1.3rem;
  align-items: center;
}
.total-amount {
  margin-left: 5rem;
}

.carbon-neutral-box {
  display: flex;
  flex-direction: row;
  background-color: hsl(13, 31%, 94%);
  border-radius: 0.5rem;
  height: 5rem;
  width: 20rem;
  align-items: center;
}

.carbon-neutral-text {
  font-size: 1rem;
  margin-left: 1rem;
}

.carbon-neutral-icon {
  width: 1.5rem;
  margin-left: 1.5rem;
}

.cart-bottom-section {
  align-items: center;
}

.empty-cart-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-empty-cart {
  width: 10rem;
}
.text-empty-cart {
  font-size: 1rem;
}

/* MODAL */
.modal-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.modal {
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  width: 30rem;
  min-height: 30rem;
  border-radius: 1rem;
  position: relative;
}

.modal-bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
}
.order-items {
  background-color: hsl(13, 31%, 94%);
  min-height: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.icon-order-confirmed {
  width: 2rem;
}
.modal-enjoy-food-message {
  font-size: 1rem;
  color: hsl(7, 20%, 60%);
}
.modal-thumbnail {
  width: 4rem;
}
